



.hyj-alert{
    top: 20px;
    z-index: 1000000000000;
    position: fixed;
    width: 100%;
}

.hyj-alert>div{
   margin: 20px 50px;
}

/*鼠标变小手*/
.hyj-cursor-pointer{
    cursor:pointer;
}

/*页脚*/
.hyj-footer-mobile{
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.hyj-footer-mobile .active{
    color: rgb(0,0,0);
}

.hyj-absolute{
    position: absolute;
}

.hyj-footer-mobile-item{
    font-size: 10px;
    display: inline-block;
    width: calc(100% / 3);
}

.hyj-footer-pc{

}